body {
	visibility:hidden;
	text-align: center;
	margin: 0;
	padding: 0;
}

.patchworkcenter {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	text-align: left;
}

@font-face {
	font-family: Patchwork;
	src: url(fonts/bank.ttf);
}

.patchworkcontent {
	text-decoration:none;
	font-family: sans-serif;
	
	display:block;
	width:452px;
	height:348px;

	background: white;
	border:1px solid black;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFFFFF,endColorStr=#B0B0B0);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFFFFF,endColorStr=#B0B0B0)';
	
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#B0B0B0));
	background:-moz-linear-gradient(top, #FFFFFF, #B0B0B0);
	background:linear-gradient(top, #FFFFFF, #B0B0B0);

	box-shadow: 2px 4px 5px #000000;
	-moz-box-shadow: 2px 4px 5px #000000;
/*	-webkit-box-shadow: 2px 4px 5px #000000;*/
	-webkit-box-reflect:below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(white));
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Direction=145);
}

.patchworkcontentwide {
	text-decoration:none;
	font-family: sans-serif;
	
	display:block;
	width:452px;
	height:348px;

	background: white;

	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;

	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFFFFF,endColorStr=#B0B0B0);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFFFFF,endColorStr=#B0B0B0)';
	
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#B0B0B0));
	background:-moz-linear-gradient(top, #FFFFFF, #B0B0B0);
	background:linear-gradient(top, #FFFFFF, #B0B0B0);
	
	box-shadow: 2px 4px 5px #000000;
	-moz-box-shadow: 2px 4px 5px #000000;
	border:1px solid black;
	-webkit-box-reflect:below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(white));
	/*-webkit-box-shadow: 2px 4px 5px #000000;*/
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Direction=145);
}


.patchworkcontent a:link {
	font-size:14px;
	width:210px;
	color:#214A66;
}

.patchworkcontent h1 {
	padding-top:10px;
	padding-left:10px;
	width:420px;
	font-size:18px;
	color:#214A66;
}

.patchworkcontent h2 {
	padding-left:10px;
	font-size:15px;
	width:420px;
	color:#214A66;
}

.patchworkcontent p {
	padding-left:15px;
	font-size:14px;
	width:200px;
	color:#000000;
}

.patchworkcontentwide h1 {
	padding-top:10px;
	padding-left:10px;
	font-size:18px;
	width:420px;
	color:#214A66;
}

.patchworkcontentwide h2 {
	padding-left:10px;
	font-size:15px;
	width:420px;
	color:#214A66;
}

.patchworkcontentwide p {
	padding-left:15px;
	font-size:14px;
	width:420px;
	color:#000000;
}

.patchworkcontentwide li {
	padding-left:15px;
	font-size:14px;
	width:390px;
	color:#000000;
}

.patchworkcontentcenter	 {
	padding-left:10px;
	vertical-align:middle;
	font-size:14px;
	width:226px;
	color:#000000;
}

.patchworkcontentimage {
	position:absolute;
	right:5px;
	bottom:5px;
	z-index:100;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.patchworkwordpress {
	position:absolute;
	left:116px;
	bottom:5px;
	z-index:30;
	
	display:block;
	border:0;
}

.patchworkfacebook {
	position:absolute;
	left:5px;
	bottom:5px;
	z-index:31;
	
	display:block;
	border:0;
}

.patchworklinkedin {
	position:absolute;
	bottom:5px;
	left:79px;
	z-index:32; 
	
	display:block;
	border:0;
}

.patchworktwitter {
	position:absolute;
	left:42px;
	bottom:5px;
	z-index:33;
	
	display:block;
	border:0;
}

.patchworklogo {
	position:absolute;
	left:10px;
	top:10px;
	z-index:7;
	display:block;
	border:0;
}

.patchworkmenubar {
	position:absolute;
	left:0px;
	top:70px;
	min-width:1024;
	z-index:5;
	margin: 0;
	padding: 0;

	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	
	text-align:center;

	background-color:#214A66;
	

	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#214A66,endColorStr=#7BA7C4);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#214A66,endColorStr=#7BA7C4)';
	
	background:-webkit-gradient(linear, left top, left bottom, from(#214A66), to(#7BA7C4));
	background:-moz-linear-gradient(top, #214A66, #7BA7C4);
	background:linear-gradient(top, #214A66, #7BA7C4);
	-webkit-box-shadow: 0px 4px 5px #000000;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Direction=190);
}

.patchworkmenutext {
	position:absolute;
	left:0px;
	top:70px;
	min-width:1024;
	z-index:6;
	margin: 0;
	padding: 0;

	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	
	text-align:center;
}

.patchworktext {
	padding:0px 20px 0px 0px;
	font-size:16px;
	text-decoration:none;
	color:#ffffff;
	font-family: sans-serif;
}

.patchworkname {
	position:absolute;
	left:137px;
	top:25px;
	z-index:3;
	font-size:25px;
	text-decoration:none;
	color:#214A66;
	font-family: Patchwork, Copperplate, sans-serif;
}

.patchworkleftbox {
	z-index:30;
	position:absolute;
	left:40px;
	top:150px;
}

.patchworkrightbox {
	z-index:31;
	position:absolute;
	left:532px;
	top:150px;
}

.patchworkcenterbox {
	z-index:32;
	position:absolute;
	left:286px;
	top:150px;
}

.patchworkbackground {
	position:absolute;
	left:0px;
	top:0px;
	z-index:0;

	display:block;
	width:100%;
	height:100%;
	
	background-color:#B0B0B0;

	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#B0B0B0,endColorStr=#FFFFFF);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#B0B0B0,endColorStr=#FFFFFF)';
	
	background:-webkit-gradient(linear, left top, left bottom, from(#B0B0B0), to(#FFFFFF));
	background:-moz-linear-gradient(top, #B0B0B0, #FFFFFF);
	background:linear-gradient(top, #B0B0B0, #FFFFFF);


}
