body {
    visibility:hidden;
}

@font-face {
    font-family: Patchwork;
    src: url(fonts/bank.ttf);
}

.patchworkcontent {
    text-decoration:none;
    font-family: Patchwork, Copperplate, sans-serif;
    
	display:block;
	width:452px;
	height:348px;

    background: white;
	/* css3 */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px; /* standards version last */

    box-shadow: 0px 4px 5px #000000;
    -moz-box-shadow: 0px 4px 5px #000000;
    -webkit-box-shadow: 0px 4px 5px #000000;
}

.patchworkcontentwide {
    text-decoration:none;
    font-family: Patchwork, Copperplate, sans-serif;
    
	display:block;
	width:452px;
	height:348px;

    background: white;
	/* css3 */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px; /* standards version last */

    box-shadow: 0px 4px 5px #000000;
    -moz-box-shadow: 0px 4px 5px #000000;
    -webkit-box-shadow: 0px 4px 5px #000000;
}


.patchworkcontent a:link {
    font-size:14px;
    width:210px;
    color:#214A66;
}

.patchworkcontent h1 {
    padding-top:10px;
	padding-left:10px;
	width:420px;
    font-size:18px;
	color:#214A66;
}

.patchworkcontent h2 {
    padding-left:10px;
	font-size:16px;
	width:420px;
	color:#214A66;
}

.patchworkcontent p {
    padding-left:15px;
	font-size:14px;
    width:210px;
	color:#000000;
}

.patchworkcontentwide h1 {
    padding-top:10px;
	padding-left:10px;
    font-size:18px;
	width:420px;
	color:#214A66;
}

.patchworkcontentwide h2 {
    padding-left:10px;
	font-size:16px;
	width:420px;
	color:#214A66;
}

.patchworkcontentwide p {
    padding-left:15px;
	font-size:14px;
	width:420px;
	color:#000000;
}

.patchworkcontentwide li {
    padding-left:15px;
	font-size:14px;
	width:390px;
	color:#000000;
}

.patchworkcontentcenter  {
    padding-left:10px;
    vertical-align:middle;
	font-size:14px;
    width:226px;
	color:#000000;
}

.patchworkcontentimage {
    position:absolute;
    right:5px;
    bottom:5px;
}

.patchworkwordpress {
    position:absolute;
    left:116px;
    bottom:5px;
    z-index:30;
    
	display:block;
    border:0;
}

.patchworkfacebook {
    position:absolute;
    left:5px;
    bottom:5px;
    z-index:31;
    
	display:block;
    border:0;
}

.patchworklinkedin {
    position:absolute;
    bottom:5px;
    left:79px;
    z-index:32; 
    
	display:block;
    border:0;
}

.patchworktwitter {
    position:absolute;
    left:42px;
    bottom:5px;
    z-index:33;
    
	display:block;
    border:0;
}

.patchworklogo {
    position:absolute;
    left:20px;
    top:20px;
    z-index:7;
    
	display:block;
    border:0;
}

.patchworkblog {
    position:absolute;
    left:20px;
    top:608px;
    z-index:6;

	display:block;
	width:340px;
	height:40px;
	line-height:40px;
	
	/* css3 */
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px; /* standards version last */
    
    text-align:center;
    
    background-color:#114821;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#93C181), to(#114821));
	background:-moz-linear-gradient(top, #93C181, #114821);
	background:linear-gradient(top, #93C181, #114821); /* standards version last */
    box-shadow: 0px 4px 5px #000000;
    -moz-box-shadow: 0px 4px 5px #000000;
    -webkit-box-shadow: 0px 4px 5px #000000;
}

.patchworkmenu {
    position:absolute;
    left:664px;
    top:20px;
    z-index:5;    

	display:block;
	width:340px;
	height:40px;
	line-height:40px;
	
	/* css3 */
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px; /* standards version last */

    text-align:center;

    background-color:#214A66;
    
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#214A66), to(#7BA7C4));
	background:-moz-linear-gradient(top, #214A66, #7BA7C4);
	background:linear-gradient(top, #214A66, #7BA7C4); /* standards version last */
    box-shadow: 0px 4px 5px #000000;
    -moz-box-shadow: 0px 4px 5px #000000;
    -webkit-box-shadow: 0px 4px 5px #000000;
}

.patchworktext {
    padding:0px 5px 0px 5px;
	font-size:12px;
    text-decoration:none;
	color:#ffffff;
    font-family: Patchwork, Copperplate, sans-serif;
}

.patchworkinfo {
    position:absolute;
    left:578px;
    top:621px;
    z-index:4;
	font-size:25px;
    text-decoration:none;
	color:#114821;
    font-family: Patchwork, Copperplate, sans-serif;
}

.patchworkname {
    position:absolute;
    left:137px;
    top:20px;
    z-index:3;
	font-size:25px;
    text-decoration:none;
	color:#214A66;
    font-family: Patchwork, Copperplate, sans-serif;
}

.patchworkleftbox {
    z-index:30;
    position:absolute;
    left:40px;
    top:160px;
}

.patchworkrightbox {
    z-index:31;
    position:absolute;
    left:532px;
    top:160px;
}

.patchworkcenterbox {
    z-index:32;
    position:absolute;
    left:286px;
    top:160px;
}

.patchworkbackground1 {
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
    
	display:block;
	width:512px;
	height:334px;

	/* css3 */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px; /* standards version last */
    
    background-color:#93C181;
    /* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#93C181), to(#114821));
	background:-moz-linear-gradient(top, #93C181, #114821);
	background:linear-gradient(top, #93C181, #114821); /* standards version last */

}

.patchworkbackground2 {
    position:absolute;
    left:512px;
    top:334px;
    z-index:1;

	display:block;
	width:512px;
	height:334px;
	
	/* css3 */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px; /* standards version last */
    
    background-color:#7BA7C4;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#214A66), to(#7BA7C4));
	background:-moz-linear-gradient(top, #214A66, #7BA7C4);
	background:linear-gradient(top, #214A66, #7BA7C4); /* standards version last */

}

.patchworkbackground3 {
    position:absolute;
    left:0px;
    top:0px;
    z-index:0;
    
	display:block;
	width:1024px;
	height:668px;
    
    background-color:#B0B0B0;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#B0B0B0), to(#FFFFFF));
	background:-moz-linear-gradient(top, #B0B0B0, #FFFFFF);
	background:linear-gradient(top, #B0B0B0, #FFFFFF); /* standards version last */

}
